<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="myConnectionString"
     providerName="System.Data.ProviderName"
     connectionString="server=localhost;database=db_sisdelivery;uid=sa;password=12345;" />
  </connectionStrings>

</configuration>